:host {
  display: block;
}
:host ::ng-deep .layout-loading .sidenav-link {
  transition: none !important;
}

.volver-panel-soporte {
  position: absolute;
  top: 1rem;
  left: calc(var(--wWrap) - 25px);
  background: var(--base-alt);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: calc(var(--fs-title) * 1.5);
  color: var(--first-color);
  padding: 0 5px 0 0;
  margin: 0 .5rem 0 0;
  border-radius: var(--border-radius);
  transition: all .15s ease-in-out;
  cursor: pointer;
  z-index: 100;

  &:hover {
    background: var(--border-color);
  }

  @media only screen and (max-width: 996px) {
    left: 1rem;
  }
}